.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 10px;
}

.form-box {
    width: 100%;
}

header h1 {
    text-align: center;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"], input[type="submit"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

table {
    width: 100%;
    margin: 20px 0;
}

table td {
    padding: 10px;
    text-align: left; /* Ensures text is left-aligned */
}

label {
    display: flex;
    align-items: center;
}

.dept-label {
    color: yellow; /* Change this to the desired font color for department names */
}

.dept-checkbox {
    margin-right: 10px; /* Adds some space between the checkbox and the department name */
}

.error-message {
    color: white;
    font-size: 14px;
    margin-top: 5px;
}
